<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabset [nzAnimated]="false" class="tabs" (nzSelectChange)="switch($event)">
    <nz-tab [nzTitle]="'账户密码登录'">
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter mobile username">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="username or email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter password">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" placeholder="password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    <nz-tab [nzTitle]="'手机号登录'">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="mobileErrorTip">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="mobile" placeholder="mobile number" />
          </nz-input-group>
          <ng-template #mobileErrorTip let-i>
            <ng-container *ngIf="i.errors.required"> 请输入手机号！ </ng-container>
            <ng-container *ngIf="i.errors.pattern"> 手机号格式错误！ </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'请输入验证码！'">
          <nz-row [nzGutter]="8">
            <nz-col [nzSpan]="16">
              <nz-input-group nzSize="large" nzPrefixIcon="mail">
                <input nz-input formControlName="captcha" placeholder="captcha" />
              </nz-input-group>
            </nz-col>
            <nz-col [nzSpan]="8">
              <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count >= 0" nzBlock [nzLoading]="loading">
                {{ count ? count + 's' : '获取验证码' }}
              </button>
            </nz-col>
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">自动登录</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" routerLink="/passport/register">忘记密码</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock> 登录 </button>
  </nz-form-item>
</form>
<div class="other">
  其他登录方式
  <i nz-tooltip nzTooltipTitle="人脸识别登录" (click)="open('smile', 'window')" nz-icon nzType="smile" class="icon"></i>
  <i nz-tooltip nzTooltipTitle="FIDO2登录" (click)="open('smile', 'window')" nz-icon nzType="key" class="icon"></i>
  <i nz-tooltip nzTooltipTitle="二维码扫描登录" (click)="open('smile', 'window')" nz-icon nzType="qrcode" class="icon"></i>
  <i nz-tooltip nzTooltipTitle="USBKey登录" (click)="open('smile', 'window')" nz-icon nzType="usb" class="icon"></i>
  <a class="register" routerLink="/passport/register">注册账户</a>
</div>
