<nz-modal
  #nzModalComponent
  nzWidth="800px"
  style="height: 800px"
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <div *nzModalContent>
    <nz-input-group [nzSuffix]="suffixIcon" style="margin-bottom: 1rem">
      <input type="text" nz-input [placeholder]="placeholder" (keyup)="onKeyup($event)" [(ngModel)]="value"/>
    </nz-input-group>

    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>

    <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
      <nz-list>
        <nz-list-item *cdkVirtualFor="let item of ds">
          <nz-skeleton *ngIf="!item" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
          <nz-list-item-meta
            *ngIf="item"
          >
            <nz-list-item-meta-avatar>
              <i nz-icon nzType="file-search" nzTheme="outline"></i>
            </nz-list-item-meta-avatar>
<!--            <nz-list-item-meta-description>-->
<!--              <p>{{item.NoteId}}</p>-->
<!--            </nz-list-item-meta-description>-->
            <nz-list-item-meta-title>
              <a (click)="OnOpenDocument(item)">{{ item.Title }}</a>
            </nz-list-item-meta-title>

          </nz-list-item-meta>

          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a nz-dropdown [nzDropdownMenu]="menu">
                操作
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="OnOpenDocument(item)">打开文档</li>
                  <li nz-menu-item (click)="OnPreviewDocument(item)">预览文档</li>
                  <li nz-menu-item (click)="OnCopyId(item)">复制文档ID</li>
                  <li nz-menu-item (click)="OnInsertId(item)">插入引用</li>
                </ul>
              </nz-dropdown-menu>

            </nz-list-item-action>
          </ul>
        </nz-list-item>

      </nz-list>
    </cdk-virtual-scroll-viewport>

  </div>
</nz-modal>

