<div class=" ant-drawer-content-wrapper">
  <aside class="sidebar">
    <nz-input-group [nzSuffix]="suffixIcon">
      <input type="text" nz-input
             placeholder="Search"
             [(ngModel)]="searchValue"/>
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <nz-tree [nzData]="nodes"

             nzAsyncData
             nzCheckable
             nzVirtualHeight
             (nzClick)="nzEvent($event)"
             [nzSearchValue]="searchValue"
             (nzExpandChange)="nzEvent($event)"
    ></nz-tree>
  </aside>
  <main class="page ant-drawer-content-wrapper">
    <div id="vditor"></div>
  </main>
</div>
